html, body{
  margin: 0px;
  font-family: sans-serif;
}

.main.menu .item{
  padding: 0px 16px;
}

.ui.narrow.container{
  padding: 0px 8px;
}

.ui.feed .content .date, 
.ui.feed .content .summary, 
.ui.feed .content .extra{
  padding: 2px!important;
  margin: 2px!important;
}

.ui.feed .event{
  padding-top: 2px!important;
  padding-bottom: 2px!important;
}

.ui.feed .event:nth-child(odd){
  background-color:#ddd;
}
